<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<style>
    .contanier{
        width: 300px;
        height: 300px;
        background:gray;
    }
</style>
</head>
<body>
<div class="box">
    <input type="number" v-model='w'>
    <input type="number"  v-model='h'>
    <div class="contanier" :style='{width:w+"px",height:h+"px",background:ranColor}'>

    </div>
</div>
<script src="js/vue.js"></script>
<script>
    new Vue({
        el:'.box',
        data:{
            w:300,
            h:300,
           
        }
    })
</script>
</body>
</html>